@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');


*, *::after , *::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --primary-clr: #FF8C00;
    --secondary-clr: #D21E1E;
    --subHeading-clr: #1A1A1A;
    --white-clr: #FFFFFF;
    --black-clr: #000000;

    /*--------SECTION-1-MAIN-------- */
    --linkFont-clr: #424242;
    --mainHeading-clr: #1F1D1D;
    --mainPara-clr: #3A3A3A;
    /*--------/SECTION-1-MAIN-------- */


    /*--------SECTION-2-ABOUT-------- */
    --icon-clr: #282828;;
    --iconPara-clr: #636363;
    /*--------SECTION-2-ABOUT------- */


    /*--------SECTION-3-CATEGORY------- */
    --subPara-clr: #6B6B6B;
    --cardHeading-clr: #3D3D3D;
    --card-clr1: #EC5512;
    --card-clr2: #FF8C00;
    --card-clr3: #F1E9BA;
    --card-clr4: #E7E0D0;
    --card-clr5: #C4EADD;
    --card-clr6: #F8F8F8;
    --shopAll-clr: #2D2D2D;
    /*--------/SECTION-3-CATEGORY------- */


    /*--------SECTION-4-BEST-SELLERS------- */
    --newSpan-clr: #232323;
    --discoundPrice-clr: #BD2828;
    /*--------/SECTION-4-BEST-SELLERS------- */


    /*--------SECTION-5-REVIEWS------- */
    --reviewPrimary-clr: #474747;
    --bar-clr: #B4B4B4;
    --mainProgressBar-clr:#414141;
    --subProgressBar-clr: #DCDCDC;
    --Text1-clr: #090909;
    --Text2-clr: #303030;
    --reviewsCard-clr1: #2F2F2F;
    --reviewsCard-clr2: #747474;
    --reviewsCard-clr3: #4F4F4F;
    --likeIcon-clr: #706F6F;
    --reviewText-clr1: #919191;
    --reviewText-clr2: #909090;
    --weeksText: #636363;
    /*--------/SECTION-5-REVIEWS------- */


    /*--------SECTION-6-BLOG-------- */
    --blogPrimary-clr: #747474;
    --blogSecondary-clr: #2C2C2C;
    /*--------/SECTION-6-BLOG------- */


    /*--------INPUT-COLOR------- */
    --inputText-clr: #969696;
    --inputBorder-clr: #414141;
    /*--------/INPUT-COLOR------- */

}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white-clr);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* ==================GENERAL CSS======================== */
h1,h2,h3,h4{
    font-weight: 500;
    letter-spacing: 0.035em;
}

h1{
    color: var(--mainHeading-clr);
    font-size: 4rem;
    line-height: 4.875em;
}

h2{
    color: var(--subHeading-clr);
    font-size: 3rem;
    line-height: 3.688em;
}

h3{
    color: var(--icon-clr);
    font-size: 2.25rem;
    line-height: 2.75em;
}

h4{
    color: var(--black-clr);
    font-size: 1.5rem;
    line-height: 1.813em;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

img{
    display: block;
    width: 100%;
}

i{
    font-family: FontAwesome;
    font-style: normal;
}

.container{
    max-width: 1440px;
    margin-inline: auto;
    padding: 0 6.25rem;
}

.cta-btn1{
    display: inline-block;
    width: 11.688rem;
    height: 3.5rem;
    color: var(--white-clr);
    background-color: var(--black-clr);
    border: 1px solid var(--black-clr);
    transition: all 0.3s ease-out;
}

.cta-btn1:hover{
    background-color: transparent;
}

.cta-btn2{
    background-color: transparent;
    color: var(--black-clr);
    border: 1px solid var(--black-clr);
    transition: all 0.3s ease-out;

}

.cta-btn2{
    background-color: var(--black-clr);
    color: var(--white-clr);
}

.flex-row{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.grid{
    display: grid;
}

/* ===================ARROW-SLIDER-COMPONENT================== */
.right-arrow{
    position: relative;
   }
   .line{
    position: absolute;
    left: -24px;
    display: inline-block;
    top: 8px;
    width: 30px;
    height: 2px;
    background-color: black;
   }
   .line::after{
    content: "";
    width:100%;
    background-color: black;
    display: inline-block;
    height: 2px;
    position: absolute;
   transition: all 0.4s ease-out;
   transform: translateX(0);
   }
   .arrow-animator:hover .line::after{
    transform: translateX(-100%);
   }
/* ===================/ARROW-SLIDER-COMPONENT================= */


/* ==================//GENERAL CSS======================== */